

@media screen and (max-width: 2561px) and (min-width: 768px) {

    body{
        background-color: #E8A273;
        padding: 4px;
    }
    .container{
        padding: 1px;
    }
    .navbar{
        border-radius: 10px;
        position: sticky;
        top: 0px;
        border-radius: 10px;
    }
.nav{
    position: absolute;
    right: 20px;    
    }
    .nav-link{
    color: #98473E;
    }
    .nav-link:hover{
    text-shadow: #B85B51 1px 1px 1px;
    color: #CA847D;
    }
    .navbar {
        background-color: #FFE1C2;
        width: auto;
        height: fit-content;
        padding: 0px;
      }
      #name{
        position: fixed;
        left: 100px;
        width: 300px;
    }
    #logo{
        width:85px;
         height:80px;
    }
   
}
@media screen and (max-width: 769px) and (min-width: 425px) {

    body{
        background-color: #E8A273;
        padding: 4px;
    }
    .container{
        padding: 1px;
    }
    .navbar{
        border-radius: 10px;
        position: sticky;
        top: 0px;
        border-radius: 10px;
    }
.nav{
    position: absolute;
    right: 20px;    
    }
    .nav-link{
    color: #98473E;
    }
    .nav-link:hover{
    text-shadow: #B85B51 1px 1px 1px;
    color: #CA847D;
    }
    .navbar {
        background-color: #FFE1C2;
        width: auto;
        height: fit-content;
        padding: 0px;
      }
      #name{
        position: fixed;
        left: 100px;
        width: 300px;
    }
    #logo{
        width:85px;
         height:80px;
    }
   
}
@media screen and (max-width: 500px) {
  
   body{
    background-color: aquamarine;
    padding: 1px;
   }
   #logo{
       position: absolute;
       top: 1px;
       height: 80px;
       width: 80px;
   }
   #name{
       position: absolute;
       left: 85px;
       top: 10px;
       width: 230px;
       height: 70px;
   
}
.navbar {
    background-color: #FFE1C2;
    width: auto;
    height: 90px;
    padding: 10px;
  }
  .nav{
  position: fixed;
  top:150px;
    }
}
